@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo[wdth,wght].woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Italic[wdth,wght].woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter[slnt,wght].woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Thin-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ThinItalic-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ExtraLight-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ExtraLightItalic-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Light-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-LightItalic-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ExtraBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Black.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-BlackItalic.woff') format('woff');
}
.banner-header {
  display: flex;
  background-color: #0068FF;
  padding: 20px;
  text-align: center;
  height: 38px;
  justify-content: center;
  align-items: center;
}
.banner-header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  gap: 15px;
}
.banner-header-text {
  color: #FFFFFF;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 13px;
}
.nav-menu {
  background-color: #FFFFFF;
  font-family: 'Inter';
  font-size: 16px;
}
.img-logo {
  height: 24px;
  width: 184px;
}
.nav-header-list-item {
  font-family: 'Inter';
  color: #292929;
  font-weight: 400;
  font-size: 14px;
}
.nav-header-list-item-specials {
  color: #C40837;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
}
.container-submenu-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 403px;
  height: 100%;
}
.submenu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
.nav-header {
  min-width: 1400px;
  justify-content: center;
  align-items: center;
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.mobile-menu.open {
  display: block;
}
.nav-menu {
  background-color: #FFFFFF;
  font-family: 'Inter';
  font-size: 16px;
}
.img-logo {
  height: 24px;
  width: 184px;
}
.nav-header-list-item {
  font-family: 'Inter';
  color: #292929;
  font-weight: 400;
  font-size: 14px;
}
.nav-header-list-item-specials {
  color: #C40837;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
}
.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
}
.cart-drawer.active {
  transform: translateX(0);
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.cart-overlay.active {
  display: block;
}
.img-gallery-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 342px;
  height: 250px;
  border-radius: 16px;
}
.img-gallery-small img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.img-gallery-large {
  display: flex;
  justify-content: center;
  width: 342px ;
  height: 429px ;
  border-radius: 16px;
}
.img-gallery-large img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .container-gallery-mobile {
    display: flex;
  }
}
.gallery-container-large {
  padding: 11px;
}
.gallery-container-small {
  padding: 11px;
}
.container-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1400px;
  max-height: 690px;
  gap: 5px;
  flex-direction: row;
}
.img-gallery {
  padding: 11px;
}
.specials-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.img-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin: 0px !important;
}
label {
  margin: 0px !important;
}
.newsletter-banner-header {
  display: flex;
  background-color: #0068FF;
  padding: 20px;
  text-align: center;
  height: 38px;
  justify-content: space-evenly;
  align-items: center;
}
.newsletter-banner-header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 552px;
  height: 70px;
  flex-direction: column;
  flex-basis: 60%;
}
.newsletter-header-text {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 800;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.newsletter-discount-text {
  font-family: 'Inter';
  font-size: 32px;
  font-weight: 800;
}
.newsletter-text {
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 500;
  color: #FFFFFF;
}
.newsletter-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 274px;
  height: 18px;
  gap: 15px;
}
.newsletter-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}
.newsletter-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0068FF;
  border-radius: 16px;
  min-width: 1400px;
  height: 140px;
}
.img-newsletter-banner {
  width: 160px;
  height: 185px;
}
.newsletter-radio-input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 4;
  outline: none;
  cursor: pointer;
  margin: 0px !important;
}
.newsletter-radio-input:checked {
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}
.newsletter-radio-input:checked::before {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 12px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="email"] {
  border-radius: 100px;
  padding: 10px;
  border: 1px solid #E9E9E9;
  width: 340px;
  height: 48px;
}
.newsletter-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 340px;
  height: 70px;
}
.newsletter-input-wrapper {
  position: relative;
}
.newsletter-email {
  padding-left: 30px;
}
.newsletter-icon {
  position: absolute;
  left: 145px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 42px;
  height: 42px;
  z-index: 10;
}
.link-banner {
  font-family: 'Inter';
  color: #fff;
  text-decoration: underline;
}
.newsletter-input-label {
  display: flex;
  flex-direction: row;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  gap: 8px;
}
.img-specials {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.specials-text-promo {
  color: #292929;
  font-family: 'Inter';
  font-size: 32px;
}
.specials-link {
  display: flex;
  color: #292929;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  justify-content: flex-end;
  align-items: center;
  min-width: 700px;
}
.specials-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  min-width: 1400px;
}
.specials-title {
  display: flex;
  font-family: 'Inter';
  flex-basis: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 700px;
  gap: 15px;
  padding: 25px;
}
.specials-item {
  justify-content: flex-start;
  align-items: center;
}
.specials-item-description {
  color: #595959;
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 400;
}
.specials-item-price-regular {
  color: #0068FF;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
}
.specials-item-title {
  color: #292929;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
}
.img-specials {
  width: 342px;
  height: 456px;
  border-radius: 16px;
}
.container-search-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 15px;
}
.container-specials-mobile {
  display: none;
}
.container-gallery-mobile {
  display: none;
}
@media (max-width: 991px) {
  .container-specials-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.container-specials {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.price-promo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.specials-item-price-promo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C40837;
  border-radius: 2px;
  height: 20px;
  width: 71px;
  font-family: 'Inter';
  color: #fff;
  font-weight: 700;
}
.specials-item-price-promo-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #595959;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
}
.bestseller-banner {
  display: flex;
  background-color: #A70584;
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 2px;
  width: 84px;
  height: 20px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.new-banner {
  display: flex;
  background-color: #36B588;
  position: absolute;
  margin-top: 40px;
  border-radius: 2px;
  margin-left: 5px;
  width: 65px;
  height: 20px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.specials-banner {
  display: flex;
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #C40837;
  border-radius: 2px;
  width: 79px;
  height: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 700;
  z-index: 10;
}
.container-specials-items {
  display: flex;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
}
.specials-text-promo-promocje {
  font-family: 'Inter';
  color: #0068FF;
  font-weight: 800;
  font-size: 32px;
}
.specials-text-promo {
  font-family: 'Inter';
  color: #292929;
  font-weight: 400;
  font-size: 16px;
}
.cart-item-image {
  height: 160px;
  width: 120px;
  border-radius: 16px;
}
.cart-summary {
  display: flex;
  background-color: #E3E3E3;
  flex-direction: column;
}
.cart-summary-title {
  display: flex;
  flex-direction: row;
  color: #292929;
  font-family: 'Inter';
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 800;
}
.cart-items-count {
  color: #292929;
  font-weight: 300;
  font-size: 15px;
  font-family: 'Archivo';
}
.cart-item-name {
  color: #292929;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
}
.cart-item-quantity {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  color: #202020;
}
.img-cart-remove {
  width: 14px;
  height: 16px;
}
.cart-divider {
  width: 100%;
  border: 1px solid #E3E3E3;
}
.img-cart-icon {
  width: 20px;
  height: 20px;
}
.cart-summary-label {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
  color: #292929;
}
.cart-summary-value {
  font-family: 'Inter';
  color: #0068FF;
}
.cart-summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100%;
}
.cart-summary-button {
  display: flex;
  width: 500px;
  height: 48px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #0068FF;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid #0068FF;
}
.cart-summary-value {
  color: #0068FF;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
}
.cart-drawer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 620px!important;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 0px!important;
}
.cart-drawer.active {
  display: block;
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.cart-overlay.active {
  display: block;
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}
.cart-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 500px;
  height: 160px;
  gap: 15px;
}
.cart-drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart-summary {
  margin-top: auto;
}
.cart-summary-content {
  padding: 20px;
}
.cart-summary-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.left-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 332px;
  height: 60px;
  border-bottom: 6px solid #FAFAFA;
  background-color: #FAFAFA;
  margin-bottom: 12px;
  border-radius: 8px;
  font-family: 'Inter';
  font-size: 14px;
  color: #292929;
  gap: 15px;
}
.left-menu-item:hover {
  background-color: #0068FF;
}
.left-menu-item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  gap: 15px;
  font-size: 14px;
  color: #292929;
}
.left-menu {
  width: 332px;
  height: 734px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 25%;
  border-radius: 8px;
}
.submenu-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 332px;
  height: 100%;
  padding: 20px 0 0 20px;
  background-color: #FAFAFA;
}
.submenu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
.container-submenu-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 600px;
  height: 734px;
  padding: 20px 0 0 20px;
  background-color: #FAFAFA;
  flex-basis: 70%;
}
.submenu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
}
.dropdown-menu {
  position: absolute;
  display: none;
  z-index: 1000;
  flex-direction: column!important;
  align-items: flex-start !important;
  min-width: 1400px!important;
  min-height: 623px!important;
  border: 1px solid #EAEAEA;
  border-radius: 16px;
}
.nav-header-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown.open .dropdown-menu {
  display: block;
}
.left-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 332px;
}
.submenu-right-text {
  color: #292929;
  font-family: 'Inter';
  font-weight: 400;
  display: block;
  height: 20px;
}
.img-banner-header {
  height: 16px;
  width: 16px;
}
.img-submenu-buty {
  width: 403px;
  height: 520px;
  border-radius: 8px;
}
.submenu-buty {
  margin-left: -200px;
}
.img-submenu {
  width: 46px;
  height: 26px;
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo[wdth,wght].woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Italic[wdth,wght].woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  src: local('Archivo'), url('https://fonts.cdnfonts.com/s/15550/Archivo-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter[slnt,wght].woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Thin-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ThinItalic-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ExtraLight-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ExtraLightItalic-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Light-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-LightItalic-BETA.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-ExtraBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Black.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-BlackItalic.woff') format('woff');
}
.nav-menu {
  background-color: #FFFFFF;
  font-family: 'Inter';
  font-size: 16px;
}
.img-logo {
  height: 24px;
  width: 184px;
}
.nav-header-list-item {
  font-family: 'Inter';
  color: #292929;
  font-weight: 400;
  font-size: 14px;
}
.nav-header-list-item-specials {
  color: #C40837;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
}
.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
}
.cart-drawer.active {
  transform: translateX(0);
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.cart-overlay.active {
  display: block;
}
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="search"] {
  border-radius: 100px;
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #E9E9E9;
  width: 255px;
  height: 44px;
}
.img-bar-icon {
  width: 44px;
  height: 44px;
}
.img-search-icon {
  margin-left: -40px;
  width: 36px;
  height: 36px;
  z-index: 10;
}
.nav-header-search {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-header-item {
  display: flex;
  font-family: 'Inter';
  font-weight: 400;
  size: 16px;
}
.nav-header-item-menu-links {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.nav-header-list-item-specials {
  display: flex;
  font-family: 'Inter';
  color: #C40837;
  font-weight: 700;
  size: 16px;
}
.container-main {
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  margin-right: 260px;
}
.container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1400px;
}
.container-gallery {
  display: flex;
  align-items: center;
  min-width: 1400px;
}
.container-specials {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1400px;
}
.newsletter-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-footer {
  margin-top: 50px;
  min-width: 1400px;
}
.search-text-promo {
  color: #292929;
  font-family: 'Inter';
  font-size: 32px;
}
.search-link {
  color: #292929;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
}
.search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-title {
  display: flex;
  font-family: 'Inter';
}
.search-item {
  justify-content: flex-start;
  align-items: center;
}
.search-item-description {
  color: #595959;
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 400;
}
.search-item-price-regular {
  color: #0068FF;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
}
.search-item-title {
  color: #292929;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
  text-transform: lowercase;
}
.img-specials {
  width: 342px;
  height: 456px;
  border-radius: 16px;
}
.container-specials-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 15px;
}
.specials-item-price-line {
  font-family: 'Inter';
  font-weight: 500;
  text-decoration: line-through;
  color: #595959;
}
.search-link {
  color: #292929;
  font-family: 'Archivo';
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}
.search-drawer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
}
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.search-overlay.active {
  display: block;
}
.search-drawer.active {
  display: block;
}
.search-overlay.active {
  display: block;
}
.container-search {
  display: flex;
  min-width: 1400px;
  height: 810px;
  visibility: visible;
  justify-content: center;
  align-items: center;
}
.search-drawer {
  display: none;
}
.search-drawer.active {
  display: block;
}
.search-link {
  font-family: 'Archivo';
  color: #292929;
  text-decoration: underline;
  font-weight: 600;
  font-size: 15px;
}
.img-search {
  width: 342px;
  height: 456px;
  border-radius: 16px;
}
.container-search-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-width: 1400px;
}
.specials-text-promo {
  display: flex;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 32px;
  color: #292929;
}
.specials-title {
  display: flex;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 32px;
  color: #292929;
}
.search-item {
  width: 23%!important;
}
.container-search-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-header-mobile {
  display: none;
}
.hamburger-menu {
  font-size: 30px;
  background: none;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 5px;
}
@media (max-width: 991px) {
  .banner-header {
    display: flex;
    background-color: #0068FF;
    padding: 20px;
    height: 38px;
    justify-content: center;
    align-items: center;
  }
  .banner-header-item {
    display: none;
  }
  .hamburger-menu {
    display: block;
    font-size: 30px;
    background: none;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  .nav-header-item {
    display: block;
  }
  .nav-header-mobile {
    display: block;
  }
  .container-gallery-mobile {
    display: flex;
  }
  .container-gallery {
    display: none;
  }
  .container-specials {
    display: none;
  }
  .container-specials-mobile {
    display: block;
  }
  .mobile-footer-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .mobile-footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
    transition: transform 0.3s ease-in-out;
  }
  .footer-dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #fff;
  }
  .footer-dropdown-list li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  .footer-dropdown-list li a:hover {
    background-color: #ddd;
  }
  .footer-dropdown-list.show {
    display: block;
  }
  .mobile-footer-title.active .arrow {
    transform: rotate(180deg);
  }
}
.slider-title {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 900;
  color: #FFFFFF;
}
.slider-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  width: 131px;
  height: 40px;
}
.slider-description {
  font-size: 14px;
  color: #EEEEEE;
  font-weight: 500;
}
.gallery-slider-content {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.image-item-slider {
  display: flex !important;
  flex-direction: row!important;
  justify-content: space-between !important;
  min-width: 1400px;
  max-height: 520px!important;
  align-items: center;
  justify-content: center;
  background-image: url(./img/slider1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.slick-initialized {
  min-height: 520px;
}
.slick-slide {
  min-width: 1400px;
  min-height: 520px;
}
.slick-slider {
  min-height: 1400px;
}
.container-slider {
  display: grid!important;
  min-width: 1400px;
  max-height: 520px!important;
  align-items: center;
  justify-content: center;
}
.slick-slider {
  min-width: 1400px;
  min-height: 520px;
}
.slider-arrow-img {
  width: 16px;
  height: 13px;
}
.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  height: 12px;
  width: 16px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 0px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  content: '';
  text-align: center;
  background-image: url('./img/slick-dots-active.png');
  background-size: cover;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  background-image: url('./img/slick-dots-unactive.png');
  opacity: 0.75;
}
.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 36px;
  height: 36px;
  background: none;
  border: 1px solid #fff;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 36px;
  height: 36px;
  background: none;
  border: 1px solid #fff;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 1;
  color: white;
}
.left-content-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 500px;
  padding: 20px;
}
.right-content-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 500px;
  padding: 20px;
}
.container-gallery {
  padding: 20px;
}
@media (max-width: 991px) {
  .image-item-slider {
    flex-direction: column!important;
    min-width: 100%;
    max-height: none!important;
  }
  .container-slider {
    min-width: 100%!important;
    width: 100%!important;
    max-height: 520px;
    grid-template-columns: 1fr!important;
  }
  .right-content-slider {
    flex-direction: column!important;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .slick-next {
    display: none;
  }
  .slick-prev {
    display: none;
  }
  .slick-slide {
    min-width: 100%!important;
    min-height: 100%!important;
  }
  .slick-slider {
    min-height: 100%!important;
    min-width: 100%!important;
  }
  .gallery-slider-content {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
  }
  .image-item-slider {
    flex: 0 0 100%;
    scroll-snap-align: start;
    width: 100%;
  }
}
